{
  "Language": "Cpp",
  "SortIncludes": true,
  "IncludeBlocks": "Merge",
  "SortUsingDeclarations": "true",
  "BasedOnStyle": "LLVM",
  "PointerAlignment": "Middle",
  "NamespaceIndentation": "All",
  "MaxEmptyLinesToKeep": 1,
  "IndentWrappedFunctionNames": true,
  "IndentWidth": 2,
  "ColumnLimit": 90,
  "BinPackArguments": false,
  "BinPackParameters": false,
  "AlignEscapedNewlines": "DontAlign",
  "AlignConsecutiveDeclarations": true,
  "AlignConsecutiveAssignments": true,
  "AlignConsecutiveMacros": true,
  "IndentPPDirectives": "AfterHash",
}
